
bin/
obj/


.idea/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates


*.cache
*.log
*.tlog
*.ilk
*.pdb
*.idb
*.obj
*.aps
*.pch
*.res
*.db


*.dll
*.exe
*.so
*.dylib
*.lib
*.a
*.o
*.out


*.nupkg
packages/
project.lock.json
.nuget/
